:root {
    color-scheme: light dark;
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

@media (prefers-contrast: more) {
    :root {
        --base03: black;
        --base02: black;
        --base01: black;
        --base00: black;
        --base0: white;
        --base1: white;
        --base2: white;
        --base3: white;
        --yellow: yellow;
        --orange: orange;
        --red: red;
        --magenta: magenta;
        --violet: violet;
        --blue: blue;
        --cyan: cyan;
        --green: green;
    }
}

html,
body {
    background: light-dark(var(--base3), var(--base03));
    color: light-dark(var(--base00), var(--base0));
    font-size: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--cyan);
    text-decoration: underline;
}

h1 {
    color: light-dark(var(--base-01), var(--base1));
    padding: 0 1rem;
}

h2 {
    border-bottom: 1px solid light-dark(var(--base00), var(--base0));
}

main {
    border: 1px solid light-dark(var(--base00), var(--base0));
}