/*
 * Light and dark mode support 
 */

:root {
    color-scheme: light dark;
    --base-light: white;
    --base-dark: #11111a;
    --header-subhead-light: rebeccapurple;
    --header-subhead-dark: rebeccapurple;
    --link-light: darkgreen;
    --link-dark: deepskyblue;
    --link-hover-light: teal;
    --link-hover-dark: teal;
    --serif-font: "Source Serif 4";
    --sans-serif-font: "Source Code Pro";
}

/*
 * Grid layout
 */

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    gap: 0;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

@media (min-width: 640px) {
    .wrapper {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-areas:
            "... header ..."
            "... main ..."
            "... footer ...";
    }
}

/*
 * Block elements
 */

html,
body {
    background: light-dark(var(--base-light), var(--base-dark));
    color: light-dark(var(--base-dark), var(--base-light));
    font-size: 100%;
    font-family: var(--serif-font);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body>* {
    font-size: 1.1rem;
}

header {
    border-bottom: 1px solid light-dark(var(--base-dark), var(--base-light));
}

footer {
    border-top: 1px solid light-dark(var(--base-dark), var(--base-light));
}

header,
footer {
    font-family: var(--sans-serif-font);
    padding: 1rem;
}

header>h2 {
    color: light-dark(var(--header-subhead-light), var(--header-subhead-dark));
    margin: 0;
}

main {
    padding: 1rem;
}

section {
    margin: 0 0 1rem;
}

/*
 * Text elements 
 */

a,
a:visited,
button {
    color: light-dark(var(--link-light), var(--link-dark));
    text-decoration: none;
}

a:hover,
a:active,
a:focus,
button:hover {
    color: light-dark(var(--link-hover-light), var(--link-hover-dark));
    cursor: pointer;
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: none;
    font-family: var(--sans-serif-font);
    font-size: 0.89rem;
    padding: 0;
}

h1,
h2,
dt {
    font-family: var(--sans-serif-font);
}

h1 {
    margin: 0;
    font-weight: 800;
}

h2 {
    margin: 0 0 1rem;
    font-weight: 600;
}


p {
    margin: 0;
}

dt {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

dd {
    margin-bottom: 1rem;
}